# .NET æž„å»ºäº§ç‰©ä¸Žç¼“å­˜
cs/**/bin/
cs/**/obj/
release/
.dotnet-home/
.nuget-packages/

# Node
node_modules/

# ç³»ç»Ÿæ–‡ä»¶
Thumbs.db
Desktop.ini
.DS_Store

# ç¼–è¾‘å™¨
.vscode/
.idea/

# Release ¸½¼þ´ò°ü²úÎï
dist/*.zip
